h3
{
	font-size: 20;
	font-family: verdana;
	font-weight: bold;
	color: #33ccff;
	text-align: center;
}

tr th
{
    font-family: verdana;
    font-size: 12;
}

td 
{
	font-family: verdana;
	font-size: 14;
	width: 600px;
}


tbody tr:nth-child(even)
{
	background: #CCFFFF;
	color: #999;
}


tbody tr:nth-child(odd)
{
	background: #99CCFF;
	color: #999;
}	

tbody tr.Done:nth-child(even){
    background: #888;
    color: #eee;
}
tbody tr.Done:nth-child(odd){
    background: #555;
    color: #eee
}

