<!DOCTYPE html>
<html>
    <head> 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!--<script type='text/javascript' src='/static/fetchstyle.js'> </script>-->
        <link type="text/css" rel= "stylesheet" href= "/static/liSty.css"></link>
    </head>

    <body > 
        <h3>FETCH LIST</h3>
        <br> 
        <table id="fetch">
            <br>
            <tbody>
                <thead>
                    <tr>
                        <th>QueueID</th>
                        <th>Expocode</th>
                        <th>Path</th>
                        <th>QueueFile</th>
                        <th>FetchedBy</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {%for datum in data%}
                    <tr class="{{datum.status}}">
                        <td>{{datum.queueID}}</td>
                        <td>{{datum.expocode}}</td>
                        <td>{{datum.path}}</td>
                        <td>{{datum.queueFile}}</td>
                        <td>{{datum.fetchedBy}}</td>
                        <td>{{datum.status}}</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </tbody> 
        </table>
    </body>
</html>

